<div class='TrackedFunction' ...attributes>
  <p>
    {{#if this.asyncData.isPending}}
      Loading via ember-async-data JS...
    {{else if this.asyncData.isResolved}}
      {{this.asyncData.value.firstName}}
    {{else if this.asyncData.isRejected}}
      Something went wrong:
      {{format-error this.asyncData.error}}
    {{else}}
      The promise failed to start, this should never happen.
    {{/if}}
  </p>

  <p>
    <button type='button' {{on 'click' (fn this.restart false)}}>
      Restart
    </button>

    <button type='button' {{on 'click' (fn this.restart true)}}>
      Restart and fail
    </button>
  </p>
</div>