<div class='PromiseProxyMixin' ...attributes>
  <p>
    {{#if this.promiseProxy.isPending}}
      Loading via PromiseProxyMixin...
    {{else if this.promiseProxy.isFulfilled}}
      <User @user={{this.promiseProxy.content}}/>
    {{else if this.promiseProxy.isRejected}}
      Something went wrong:
      {{format-error this.promiseProxy.reason}}
    {{else}}
      The promise failed to start, this should never happen.
    {{/if}}
  </p>

  <p>
    <button type='button' {{on 'click' (fn this.restart false)}}>
      Restart
    </button>

    <button type='button' {{on 'click' (fn this.restart true)}}>
      Restart and fail
    </button>
  </p>
</div>