<div class='TrackedFunction' ...attributes>
  <p>
    {{#if this.resource.isPending}}
      Loading via trackedFunction...
    {{else if this.resource.isResolved}}
      <User @user={{this.resource.value}}/>
    {{else if this.resource.isRejected}}
      Something went wrong:
      {{format-error this.resource.error}}
    {{else}}
      The promise failed to start, this should never happen.
    {{/if}}
  </p>

  <p>
    <button type='button' {{on 'click' this.resource.retry}}>
      Restart
    </button>

    <button type='button' {{on 'click' this.restartFail}}>
      Restart and fail
    </button>
  </p>
</div>