<div
  class="EmberConcurrency"
  ...attributes
>
  <p>
    {{#if this.resource.isLoading}}
      Loading...
    {{else if this.resource.isResolved}}
      {{this.resource.value.firstName}}
    {{else if this.resource.isError}}
      Something went wrong:
      {{format-error this.resource.error}}.
    {{else}}
      The promise failed to start, this should never happen.
    {{/if}}
  </p>

  <p>
    <button
      type="button"
      {{on "click" (fn this.restart false)}}
    >
      Restart
    </button>

    <button
      type="button"
      {{on "click" (fn this.restart true)}}
    >
      Restart and fail
    </button>
  </p>
</div>
